PSParallaxSwipeNavigation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PSParallaxSwipeNavigation.xcodeproj/project.xcworkspace/xcuserdata/sam.xcuserdatad/UserInterfaceState.xcuserstate
PSParallaxSwipeNavigation.xcodeproj/project.xcworkspace/xcuserdata/sam.xcuserdatad/WorkspaceSettings.xcsettings
PSParallaxSwipeNavigation.xcodeproj/xcuserdata/sam.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
PSParallaxSwipeNavigation.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/PSParallaxSwipeNavigation.xcscheme
PSParallaxSwipeNavigation.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/xcschememanagement.plist
